body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    padding: 1em 8em;
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}